
@{
    ViewData["Title"] = "Default";
    Layout = "~/Views/Shared/_LayoutCI.cshtml";
}

<div style="text-align: right">  <h1>Teachers Module</h1> </div>
<div style="text-align: right">  <h3>@ViewData["W_Person"]</h3> </div>
<div style="vertical-align:middle; text-align:center; width:100%">    
    <img src="../../images/teachers.jpg">
</div>

