@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutCI.cshtml";
}

<div style="text-align: right">  <h1>WIS University Ltda.</h1> </div>

<div class="bg-image"
     style="background-repeat: no-repeat; background-image: url('../../images/University.jpg');
      height: 66vh">

</div>