
@{
    ViewData["Title"] = "Default";
    Layout = "~/Views/Shared/_LayoutCI.cshtml";
}

<div style="text-align: right">  <h1>Students Module</h1> </div>
<div style="text-align: right">  <h3>@ViewData["W_Person"]</h3> </div>
<div class="bg-image"
     style="background-repeat: no-repeat; background-image: url('../../images/banner-estudiantes_0.jpg');
      height: 70vh">
    
</div>