@model RegisterWebApp.Models.Teacher

@{
    ViewData["Title"] = "CreateT";
    Layout = "~/Views/Shared/_LayoutCI.cshtml";
}

<h1>Register</h1>

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateT">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNumber" class="control-label"></label>
                <input asp-for="IdNumber" class="form-control" />
                <span asp-validation-for="IdNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pass" class="control-label"><span style="font-size:smaller">Password (see criteria&nbsp&nbsp<a href="#" onmouseover="showDesc();" onClick="hideDesc();" class="linkPass"><i class='fa fa-eye'></i></a>)</span></label>
                <input asp-for="Pass" type="password" class="form-control" />
                <span asp-validation-for="Pass" class="text-danger"></span>
                <span id="passDesc" class="iconDesc">
                    <br />
                    Password criteria:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" onClick="hideDesc();" class="linkPass"><i class='fa fa-check'></i></a><br />
                    7  Min. Characters length<br />
                    2  Letters in Upper Case<br />
                    1  Special Character (!@@#$&*)<br />
                    2  Numerals (0-9)<br />
                    3  Letters in Lower Case
                </span>
            </div>

            <div class="form-group">
                <input type="submit" value="Register >" class="btn btn-primary" />
            </div>
            <script type="text/javascript">
                function showDesc() {
                    $('#passDesc').show();
                    return true;
                }
                function hideDesc() {
                    $('#passDesc').hide();
                    return true;
                }
            </script>
        </form>
    </div>
</div>



