
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutCI.cshtml";
}

<div style="text-align: right">  <h1>Register Module</h1> </div>

<div class="bg-image"
     style="background-repeat: no-repeat; background-image: url('../../images/registro.jpg');
      height: 70vh">

</div>

